<!DOCTYPE html>
<html lang='en' xmlns='http://www.w3.org/1999/xhtml'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Market Loco</title>
    <link rel='stylesheet' href='/assets/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/assets/css/owl.carousel.min.css'>
    <link rel='stylesheet' href='/assets/css/animated.css'>
    <link rel='stylesheet' href='/assets/css/font-awesome.css'>
    <link rel='stylesheet' href='/assets/css/ui.css'>
    <link rel='stylesheet' href='/assets/css/jquery.mmenu.all.css'>
    <link rel='stylesheet' href='/assets/css/flaticon.css'>
    <link rel='stylesheet' href='/assets/css/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i;Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>
<body>
    <header class="header header-style1">
        <div class="header-top">
            <div class="container">
                <h5>future in your hand</h5>
                <p>Enjoy the beautiful life with your family supply</p>
                <a href="#" class="button orange">View Now</a>
            </div>
        </div>
        <div class="header-mid">
            <div class="container">
                <div class="header-mid-left">
                    <p class="wellcome-to">Bienvenido a Marketloco</p>
                    <p class="register-or-login">
                        <a href="#" class="register">Registrarse</a>
                        or
                        <a href="#" class="login">Login</a>
                    </p>
                </div>
                <div class="header-mid-right">
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-user-outline"></i>
                            Nosotros
                        </a>
                    </div>
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-like"></i>
                            Carro
                        </a>
                    </div>
                    <div class="header-mid-right-content">
                        <a href="#">
                            <i class="flaticon-check-square"></i>
                            Contacto
                        </a>
                    </div>
                    <div class="header-mid-right-content country-select-menu">
                        <div class="country-select">
                           
                        </div>

                    </div>
                    <div class="header-mid-right-content money-select-menu">
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="header-bottom">
            <div class="container">
                <div class="header-bottom-left">
                    <h1 class="logo">
                        <a href="/">
                            <img src="/assets/images/logo.png" alt="logo">
                        </a>
                    </h1>
                    <div class="header-search">
                        <form action="form.php" class="form form-search-header">
                            <select name="show-categories" id="show-categories">
                                <option value="all">All Categories</option>
                                <option value="Automovie & Motorcyle">Automoviess & Motorcyle</option>
                                <option value="Electronics">Electronics</option>
                                <option value="Sport & Outdoors">Sport & Outdoors</option>
                                <option value="Handbags">Handbags </option>
                                <option value="Fashion">Fashion </option>
                                <option value="camera & usb">camera & usb</option>
                                <option value="smartphone & headphone">smartphone & headphone</option>
                            </select>
                            <input type="text" placeholder="Search...">
                            <button class="button-search"><i class="flaticon-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="header-bottom-right">
                  
                    <div class="header-bottom-right-content cart-menu-relative">
                            <div class="cart-menu">

                            <a href="/shopcart/">
                                <i class="flaticon-commerce"></i>
                                Cart
                                <% if(session.cart) { %>

                                <p class="cart-amount"><%= session.cart.totalQty%></p>
                                <% } %>

                            </a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>





        <div class="menu-primary">
            <div class="container">
                <a href="#categories-menu" class="menu-button categories-menu-button">
                    Categories<span class="flaticon-bars"></span>
                </a>



                <nav class="menu-item has-mega-menu" id="categories-menu">
                    <ul class="menu">
                        
                    </ul>
                </nav>



                <a href="#primary-navigation" class="menu-button primary-navigation-button">
                    <span class="flaticon-bars"></span>Main Menu
                </a>
                <nav id="primary-navigation" class="site-navigation main-menu">
                    <ul id="primary-menu" class="menu">
                        <li class="menu-item has-childrent active">
                            <a href="">Home</a>
                            <ul class="sub-menu">
                                <li class="menu-item active"><a href="/produnoindex/:1">Producto uno</a></li>
                                <li class="menu-item"><a href="/proddosindex/:1">Producto 2</a></li>
                                <li class="menu-item"><a href="/prodtresindex/:1">Producto 3</a></li>
                                <li class="menu-item"><a href="/prodcuatroindex/:1">Producto 4</a></li>
                                <li class="menu-item"><a href="/prodcincoindex/:1">Producto 5</a></li>
                                <li class="menu-item"><a href="/prodseisindex/:1">Producto 6</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="#">New Arrival</a></li>
                        <li class="menu-item"><a href="#">Deals</a></li>
                        <li class="menu-item has-childrent">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="categories-grid.html">Categories Grid 1</a></li>
                                <li class="menu-item"><a href="category-grid-right-sidebar.html">Categories Grid 1 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-grid2.html">Categories Grid 2</a></li>
                                <li class="menu-item"><a href="categories-grid2-right-sidebar.html">Categories Grid 2 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-grid3.html">Categories Grid 3</a></li>
                                <li class="menu-item"><a href="categories-list1.html">Categories List 1</a></li>
                                <li class="menu-item"><a href="categories-list1-right-sidebar.html">Categories List 1 Right Sidebar</a></li>
                                <li class="menu-item"><a href="categories-list2.html">Categories List 2</a></li>
                                <li class="menu-item"><a href="categories-list2-right-sidebar.html">Categories List 2 Right Sidebar</a></li>
                            </ul>
                        </li>


                        <li class="menu-item has-childrent">
                            <a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="blogpost.html">Blog Post</a></li>
                                <li class="menu-item"><a href="product-detail.html">Product Detail</a></li>
                                <li class="menu-item"><a href="shopping-carrt.html">Cart</a></li>
                                <li class="menu-item"><a href="checkout.html">Check Out</a></li>
                                <li class="menu-item"><a href="contact.html">Contact Us</a></li>
                                <li class="menu-item"><a href="about.html">About US</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
       
       
    </header>