<% include ../partials/_header %>


<header>
  <div class="top-area">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-3">
                  <p>Welcome to Bella</p>
              </div>
              <div class="col-lg-8 text-right col-md-8 col-sm-9">
                  <p>Open Hours: 09:00 A.M to 08:00 P.M <span>Contact: <a href="tel:1-123-456-7890">+880 1234 567
                              890</a></span></p>
              </div>
          </div>
      </div>
  </div>
  <div class="navigation">
      <div class="container">
          <div class="row">
              <div class="col-12 p-0">
                  <nav class="navbar navbar-expand-md navbar-light p-0">
                      <a class="navbar-brand" href="index.html">
                          <img src="images/logo.png" class="img-fluid" alt="Logo">
                      </a>
                      <ul class="add-to-cart small-cart">
                          <li>
                              <a href="cart.html"><img src="images/cart.png" alt="Cart Image"></a>
                          </li>
                      </ul>
                      <button class="navbar-toggler" type="button" data-toggle="collapse"
                          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                          <span class="fas fa-bars"></span>
                      </button>

                      <div class="collapse navbar-collapse" id="navbarSupportedContent">
                          <ul class="navbar-nav mr-auto ml-auto">
                              <li class="nav-item head-dropdown">
                                  <a class="nav-link">Home <i class="fas fa-chevron-down"></i></a>
                                  <ul>
                                      <li><a href="index.html">Home One</a></li>
                                      <li><a href="index2.html">Home Two</a></li>
                                  </ul>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="about.html">About us</a>
                              </li>
                              <li class="nav-item head-dropdown">
                                  <a class="nav-link active">Pages <i class="fas fa-chevron-down"></i></a>
                                  <ul>
                                      <li><a href="product-grid.html">Product Grid</a></li>
                                      <li><a href="product-gridside.html">Product Grid Sidebar</a></li>
                                      <li><a href="product-listview.html">Product List View</a></li>
                                      <li><a href="product-details.html">Product Details</a></li>
                                      <li><a href="shopping-cart.html">Shopping Cart</a></li>
                                      <li><a href="cart.html">Checkout</a></li>
                                      <li><a href="gallery.html">Gallery</a></li>
                                  </ul>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="contact.html">Contact</a>
                              </li>
                              <li class="nav-item">
                                  <a class="nav-link" href="login.html">Login/Register</a>
                              </li>
                          </ul>
                          <ul class="add-to-cart">
                              <li>
                                  <a href="cart.html"><img src="images/cart.png" alt="Cart Image"></a>
                              </li>
                              <li><span class="cart_list">02 Item</span><span class="price">Total $368</span></li>
                          </ul>
                      </div>
                  </nav>
              </div>
          </div>
      </div>
  </div>
</header>

<% include ../partials/_footer %>      
